

<footer class="bg-gray-800">
    <div class="container mx-auto px-6 pt-10 pb-6">
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/4 text-left md:text-left">
          <h5 class="uppercase mb-6 font-bold text-white">Links</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <a href="#" class="hover:underline text-gray-400 hover:text-white">About Us</a>
            </li>
            <li class="mt-2">
              <a href="#" class="hover:underline text-gray-400 hover:text-white">Blog</a>
            </li>
            <li class="mt-2">
              <a href="#" class="hover:underline text-gray-400 hover:text-white">Contact</a>
            </li>
            <li class="mt-2">
              <a href="#" class="hover:underline text-gray-400 hover:text-white">FAQ</a>
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/4 text-center md:text-left">
          <h5 class="uppercase mb-6 font-bold text-white">Legal</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <a href="#" class="hover:underline text-gray-400 hover:text-white">Terms</a>
            </li>
            <li class="mt-2">
              <a href="#" class="hover:underline text-gray-400 hover:text-white">Privacy</a>
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/4 text-center md:text-left">
          <h5 class="uppercase mb-6 font-bold text-white">Social</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <a href="#" class="hover:underline text-gray-400 hover:text-white">Facebook</a>
            </li>
            <li class="mt-2">
              <a href="#" class="hover:underline text-gray-400 hover:text-white">Instagram</a>
            </li>
            <li class="mt-2">
              <a href="#" class="hover:underline text-gray-400 hover:text-white">Twitter</a>
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/4 text-center md:text-left">
          <h5 class="uppercase mb-6 font-bold text-white">Company</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <a href="#" class="hover:underline text-gray-400 hover:text-white">Official Merch</a>
            </li>
            <li class="mt-2">
              <a href="#" class="hover:underline text-gray-400 hover:text-white">Reviews</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="border-t mt-8">
      <div class="container mx-auto px-6">
        <div class="mt-8 flex flex-col items-center">
          <div class="sm:w-2/3 text-center py-4">
            <p class="text-sm text-white font-bold mb-2">
              © 2024 by My Library
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  