
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto px-6">
    <div class="md:flex justify-between items-center h-screen">
        <!-- Left Column for Content -->
        <div class="md:w-1/2">
            <h1 class="text-4xl font-bold mt-12 md:mt-0">
                Welcome to My Library
            </h1>
            <p class="mt-6 text-lg text-gray-700">
                Discover a world of knowledge and adventure. Explore our vast collection of books and resources.
            </p>
            <button class="px-4 py-2 mt-6 text-white bg-blue-600 rounded hover:bg-blue-500">
                Explore Now
            </button>
        </div>
        
        <!-- Right Column for Image -->
        <div class="md:w-1/2 mt-12 md:mt-0">
            <img src="{% static 'img/hero-image.jpg' %}" alt="Library Hero" class="w-full rounded shadow">

            {% comment %} <img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Library Hero" class="w-full rounded shadow"> {% endcomment %}
        </div>
    </div>
</div>
{% endblock content %}
